params {
  config_profile_description = 'adapting beowulf conf to SDSC expanse'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = '224 GB'
  max_cpus = 32
  max_time = '72 h'
  project = 'sds196'
  partition = 'compute'
  cluster_user = System.getenv('USER')
}



// use a local executor for short jobs and it has to give -c and --mem to make nextflow
// allocate the resource automatically. For this the
// settings below may have to be adapted to the allocation for
// the main nextflow job.


//-- * THis works
//executor {
//    queueSize = 10
//}



executor {
    name = 'slurm'
    queueSize = 4
    pollInterval = '30 sec'
}



profiles {
    expanselocal {
        process {
            executor = 'local'
            cache = 'lenient'
            maxRetries = 3
            queueSize = 100
            memory = "$SLURM_MEM_PER_NODE"
            cpus = "$SLURM_CPUS_PER_TASK"
       }
    }

    expanse {
        process {
            executor = 'slurm'
            maxRetries = 1
            queueSize = 5
            queue = 'shared'
            //pollInterval = '2 min'
            //queueStatInterval = '5 min'
            //submitRateLimit = '6/1min'
            //retry.maxAttempts = 1
            //autoThrottle = true
            scratch = '/scratch/$USER/job_$SLURM_JOB_ID'
        
        //-- * This makes processes associated with low_cpu label to use only 1 core and 512MB ram
        withLabel:low_cpu{
          cpus = 1
          memory = '2 GB'
          time = '1 h'
          queue = 'shared'
          queueSize = 500
          clusterOptions = " --export=ALL --nodes=1 --ntasks-per-node=10 -A $params.project "
        }


        withLabel:very_low_gpu{
          queueSize = 4
          cpus = 1
          memory = '2 GB'
          time = '1 h'
          queue = 'gpu-shared'
          clusterOptions = " --export=ALL --nodes=1 --ntasks-per-node=10 -A $params.project --gpus=1 "
        }



     }
        timeline.enabled = true
        report.enabled = true
        report.overwrite = true
    }
}


